.MaxMistakeInput {
  border-radius: 5px;
  outline: none;
  border: 3px solid red;
  background: rgba(240, 128, 128);
}

.StartMistakeInput {
  border-radius: 5px;
  outline: none;
  border: 3px solid red;
  background: rgba(240, 128, 128);
}

.incorrectCounterStyle {
  color: red;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  height: 50px;
}

.CounterStyle {
  height: 50px;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}